<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><strong><%= comment.user.first_name %></strong></p>
    </div>
    <div class="panel-body">
      <p><%= comment.comment %></p>
    </div>
  </div>
  <% if current_user.id == comment.user.id %>
    <%= link_to 'Delete comment', [comment.album, comment], method: :delete,
                                                          data: {confirm: 'Sure?'},
                                                          class: 'pull-right'%>
  <% end %>
</div>
